.shipments-list {

  width: 300px;
  padding: 20px;
  height: 100vh;
  overflow: auto;
  transition: .4s;

  &__item {
    display: block;
    padding: 10px;
  }

  &__highlight-text{
    padding: 0;
    background-color: yellow;
  }

  @media screen and (max-width: 990px) {
    &--closed {
      width: 0;
      padding: 0;
      transition: .4s;
    }
  }
}