.header {
  display: flex;
  justify-content: space-between;

  &__buttons {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }

  &__menu-button {
    display: none;
  }

  &__main-buttons {
    display: flex;
  }

  &__button {
    display: inline-block;
    &:last-child {
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 990px) {

    padding: 10px;

    &__buttons {
      margin-left: 0;
      margin-top: 10px;
      justify-content: space-between;
      width: 100%;
    }

    &__menu-button {
      display: block;
    }

    &__title {
      margin: 0 auto;
    }
  }

  @media screen and (min-width: 576px){
    &__search-panel {
      margin-right: 0!important;
    }
  }
}